<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Huddersfield Students' Union</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="~/Content/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/css/global.css?release=@Guid.NewGuid()">
    <link rel="stylesheet" href="~/Content/dataTables/custom-datatables.css?release=@Guid.NewGuid()" />
    @RenderSection("styles", required: false)
</head>
<body theme="light" accent="pink">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            @Html.ActionLink("HSU Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <i id="theme" class="uil uil-sunset"></i>
                <i id="logout" class="uis uis-signout" style="margin-left: 1.25rem"></i>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Huddersfield Students' Union</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js'></script>")
    <script src="~/Scripts/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/global.js?release=@Guid.NewGuid()"></script>
    <script>

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
